* {
    font-family: 'Palatino', 'URW Palladio L', serif;
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}

html{
    background-color: rgb(140, 190, 255);
}

html, body {
    height: 80vh;
    padding: 1rem;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: auto auto auto;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 2fr;
    grid-template-areas:
        "img_head survey" 
        "map_title spacer"
        "portfolio map"
        "portfolio map_caption";
}

h1 {
    grid-area: header;
    background-color: rgb(0, 10, 255);
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size:48px;
    font-family: "Impact", fantasy;
    text-decoration: none;
    text-shadow: 2px 2px black
}

h2 {
   grid-area: map_title;
    text-align: left;
    background-color: rgb(0,10,255);
    color: white;
    font-size:48px;
    padding: 20px;
    font-family: "Impact", fantasy;
    text-shadow: 2px 2px black;
}

h3 {
    background-color: rgb(0,10,255);
    color: white;
    font-size:32px;
    padding: 10px;
    text-align: center;
}

h4 {
    font-size: 24px;
    text-decoration: bold;
    padding: 10px;
    text-align: center;
}

header {
    grid-area: header;
    color:rgb(0,10,255)
}

main {
    grid-area: main;
}

.portfolio {
    grid-area: portfolio;
}

#map {
    grid-area: map;
    height: 400px;
}

.img_header {grid-area: img_head;
    padding: 0px;
    margin-top: 15cm;
    background-color: cyan;
}

#empty{
    grid-area:spacer;
    background: rgb(0,10,255);
}

p {margin-bottom:15px;
    margin-right: 20px;
    line-height: 150%;
    font-size: 18px}

#contents button{
    font-size: 16px;
    border: none;
    padding: 10px 10px;
}


#contents{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: map_caption;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}


#link {
    grid-area: survey;
    margin: 0px;
    padding: 32px;
    
    background-color: rgb(140,190,255);
    
    font-size: 32px;
}

#link p {color: white;
    text-decoration: bold;
    text-align: center;
    font-size: 32px;
    font-family: 'Impact', fantasy;

}

h5 {color: white;
    text-align: center;
    font-size: 24px;
    background-color: rgb(0,10,255);
    padding: 5px;}

.circle
{height: 50px;
  width: 50px;
  background-color: #555;
  border-radius: 50%;
}

/* code from css-shape.com */
.star {
  grid-area:map_caption;
  width: 50px;  
  aspect-ratio: 1;
  background: #000000;
  clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
   ); 
}